.navbar-nav .nav-item .user-img {
    height: auto;
    width: 2.1rem;
    margin-top: -7px;
}

.navbar-nav .nav-item .user-info {
    color: #6c757d !important;
    margin-left: 5px;
}

label .custom-file-label {
    height: 35px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    padding-left: 7.5px;
}